@use "./functions" as func;

/*-------------------------------
            COLORS
---------------------------------*/
$clr-accent: hsl(0, 100%, 66%);
$clr-neutral-light: hsl(270, 3%, 87%);
$clr-neutral-mid: hsl(279, 6%, 55%);
$clr-neutral-dark: hsl(278, 68%, 11%);

/*-------------------------------
            GRADIENTS
---------------------------------*/
$grdt-primary: linear-gradient(
  to right,
  hsl(249, 99%, 64%),
  hsl(278, 94%, 30%)
);

/*-------------------------------
            TYPOGRAPHY
---------------------------------*/
$font-families: (
  neutral: (
    "Space Grotesk",
    sans-serif,
  ),
);
$font-sizes: (
  primary: 2rem,
  neutral: func.rem(18px),
);
$font-weights: (
  neutral: 500,
);

/*-------------------------------
            BREAKPOINTS
---------------------------------*/
$breakpoints: (
  phone: 375px,
  tabletPortrait: 769px,
  tabletLandscape: 1024px,
  laptop: 1280px,
);
